pipeline/ODS Load Pattern.json
{
	"name": "ODS Load Pattern",
	"properties": {
		"activities": [
			{
				"name": "Truncate-Insert",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Last Modified Timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SnapshotDateTime",
								"value": {
									"value": "@{activity('Get Last Modified Timestamp').output.created}",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "truncate table @{pipeline().parameters.schemaName}.@{pipeline().parameters.tableName}",
							"type": "Expression"
						},
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DL_New",
						"type": "DatasetReference",
						"parameters": {
							"folderName": {
								"value": "@pipeline().parameters.folderName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SQL_ODS",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "@pipeline().parameters.schemaName",
								"type": "Expression"
							},
							"tableName": {
								"value": "@pipeline().parameters.tableName",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Truncate-Insert",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DL_New",
						"type": "DatasetReference",
						"parameters": {
							"folderName": {
								"value": "@pipeline().parameters.folderName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DL_Archived",
						"type": "DatasetReference",
						"parameters": {
							"folderName": {
								"value": "@pipeline().parameters.folderName",
								"type": "Expression"
							},
							"archivedFileName": {
								"value": "@{pipeline().parameters.tableName}_@{formatDateTime(utcnow(), 'yyyy-MM-dd')}_@{pipeline().RunId}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DL_New",
						"type": "DatasetReference",
						"parameters": {
							"folderName": {
								"value": "@pipeline().parameters.folderName",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false
					}
				}
			},
			{
				"name": "Get Last Modified Timestamp",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DL_New",
						"type": "DatasetReference",
						"parameters": {
							"folderName": {
								"value": "@pipeline().parameters.folderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"folderName": {
				"type": "string",
				"defaultValue": "Attendees"
			},
			"schemaName": {
				"type": "string",
				"defaultValue": "dbo"
			},
			"tableName": {
				"type": "string",
				"defaultValue": "Attendees"
			}
		},
		"folder": {
			"name": "HaulotteTests"
		},
		"annotations": []
	}
}